<ion-header [translucent]="true" ContentId="main"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Profil</ion-title>

    </ion-buttons>

      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button [routerLink]="['/login']">
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Profil utilisateur</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
  
    <ion-card-content>
    
        </ion-card-content>
        <ion-card-header>
          <ion-card-title>Information du compte </ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      
        <ion-card-title>
          Nom utilisateur
        </ion-card-title>        
        <ion-input type="text"  name="nom" required value="nom utilisateur"></ion-input>
        
        <ion-card-title>
          Prénom utilisateur
        </ion-card-title>        
        <ion-input type="text"  name="prenom" required value="prenom utilisateur"></ion-input>

        <ion-card-title>
          Ici un text présentent l'application
        </ion-card-title>     
        <ion-input type="text"  name="text" required value="text"></ion-input>

        <ion-card-title>
          Adresse mail
        </ion-card-title>
        <ion-input type="mail"  name="mail" required value="mail"></ion-input>

        <ion-card-title>
          Ici un css text présentent l'application
</ion-card-title>        <ion-input type="text"  name="text" required value="text"></ion-input>

</ion-card-header>

  </ion-card>
  

</ion-content>
<ion-footer  ContentId="main">
  <app-tabs></app-tabs>
</ion-footer>

