<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Login</ion-title>
    </ion-buttons>

    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card>
  <ion-card-header>
    <ion-card-title>Connexion a l'application</ion-card-title>
    <ion-card-subtitle>Veuillez saisir vos identifiants</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
 <form action="post"></form>
    <ion-item fill="solid">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel email></ion-input>
      <ion-note slot="helper">Enter a valid email</ion-note>
      <ion-note slot="error">Invalid email</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password </ion-label>      
      <ion-input type="password" value=""></ion-input>
    </ion-item>
  
    <ion-button  routerLink="/home">
      <ion-icon slot="icon-only" name="log-in"></ion-icon>
        Se connnecter
    </ion-button>
  </ion-card-content>
</ion-card>

</ion-content>


<ion-content>

  <ion-content contendId="main-tabs">
  
    <ion-tabs contendId="main-tabs">
    
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="play-circle"></ion-icon>
          Listen Now
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="radio"></ion-icon>
          Radio
        </ion-tab-button>
        <ion-tab-button tab="library">
          <ion-icon name="library"></ion-icon>
          Library
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  
  </ion-content>
  
  </ion-content>
  
<!--
<ion-content>
  <form class="form card">
    <div class="card_header">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path fill="currentColor" d="M4 15h2v5h12V4H6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6zm6-4V8l5 4-5 4v-3H2v-2h8z"></path>
      </svg>
      <h1 class="form_heading">Sign in</h1>
    </div>
    <div class="field">
      <label for="username">Username</label>
      <input class="input" name="username" type="text" placeholder="Username" id="username">
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input class="input" name="user_password" type="password" placeholder="Password" id="password">
    </div>
    <div class="field">
      <button class="button" >Login</button>
    </div>
  </form>
</ion-content>
-->