

<ion-content [fullscreen]="true">

  <ion-card>
   <!-- <img alt="image de  (Re)source relationnelles" src=".../src/assets/icon/favicon.png" />
    -->
    <ion-img src="https://raw.githubusercontent.com/feardyr/Resource/master/src/assets/icon/favicon.png" alt="image de  (Re)source relationnelles"></ion-img>

    <ion-card-header>
      <ion-card-title>Bienvenu dans (Re)source relationnelles </ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Ici un text présentent l'application
    </ion-card-content>
  
  </ion-card>
  <ion-card>

  <ion-card-header>
    <ion-card-title>Voici une Ressource Populaire </ion-card-title>
    <ion-card-subtitle>Le titre de la ressource</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Ici la description d'une ressource par exemple
  </ion-card-content>

</ion-card>


<ion-card>

  <ion-card-header>
    <ion-card-title>Voici une Autre Ressource Populaire </ion-card-title>
    <ion-card-subtitle>Le titre de la ressource</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Ici la description d'une ressource par exemple
  </ion-card-content>
  <ion-button   color="primary">
    <ion-icon slot="icon-only" name=""></ion-icon>
    Consulter
  </ion-button>

</ion-card>



</ion-content>


  
<ion-header [translucent]="true" ContentId="main"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Home</ion-title>

    </ion-buttons>

      <ion-buttons slot="secondary">
        <ion-button [routerLink]="['/profil']">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>



